# frozen_string_literal: true

class AddTenantToTestimonials < ActiveRecord::Migration<%= migration_version %>
  def change
    add_column :testimonials_testimonials, :tenant, :string
    add_column :testimonials_nps_responses, :tenant, :string
    add_column :testimonials_prompt_events, :tenant, :string

    add_index :testimonials_testimonials, %i[tenant status]
    add_index :testimonials_testimonials, %i[tenant status consent_given]
    add_index :testimonials_nps_responses, %i[tenant score]
    add_index :testimonials_prompt_events, %i[tenant author_id kind]
    add_index :testimonials_prompt_events, %i[tenant visitor_token kind]
  end
end
